*{
    margin: 0;
    padding: 0
}

nav {
    position: sticky;
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 0.5rem;
    font-weight: bolder;
    font-size: 1rem;
    text-decoration: none;
}

nav a{
    text-decoration: none;
}