.mainPage{
    font-family: 'Courier New';
    max-width: 60rem;
    padding: 0 1rem;
    margin: 0 auto;
}

.title{
    margin: 1rem 0 3rem 0
}

.logoRow{
    gap: 2rem;
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
}

@media (max-width: 37rem){
    .logoRow{
        flex-direction: column;
    }

    .logoRow img{
        max-width: 20rem;
        min-height: 10rem;
        align-self: center;
    }
}

.title h1{
    font-size: 4 rem;
}

.title h3{
    color: gray
}

.problem p{
 margin-bottom: 0.5rem;
 margin-top: 0.5rem;
}