:local(.faqaccordion){
    --White: hsl(0, 100%, 100%);
    --Purple100: hsl(275, 100%, 97%);
    --Purple600: hsl(292, 16%, 49%);
    --Purple950: hsl(292, 42%, 14%);

    background-color: var(--Purple100);
}

@font-face {
    font-family: 'Work Sans';
    src: url('./assets/fonts/WorkSans-VariableFont_wght.ttf');
}

*{
    color: var(--Purple950)
}

.faqaccordion{
    position: sticky;
    font-family: 'Work Sans';
    position: relative;
    min-height: 100vh;

    background-color: var(--Purple100);
    background-image: url('./assets/images/background-pattern-desktop.svg');
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;

    padding-top: 10rem;

    text-align: left;
}

@media (max-width: 37rem){
    .faqaccordion{
        background-image: url('./assets/images/background-pattern-mobile.svg');
        padding-top: 7rem;
    }
}

.backdrop{
    position: absolute;
    top:0;
    width: 100%;
    z-index: 1;
}

/*
===============================================================================
FAQs Window pop up thingy
===============================================================================
*/

.window{
    /*position*/
    padding: 40px;
    max-width: 30rem;
    /*margin:  -8rem auto 0 auto;*/
    margin:  0rem 1rem;
    justify-self: center;
    /*contents and visuals*/
    background-color: var(--White);
    border-radius: 1rem;
    box-shadow: 10px 0 30px var(--Purple600);    
}

/*
===============================================================================
FAQs Header
===============================================================================
*/

.faqaccordion h1{
    font-size: 3rem;
}

.header{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    margin-bottom: 1rem;
}

@media (max-width: 37rem){
    .faqaccordion h1{
        font-size: 2rem;
    }
}

/*
===============================================================================
FAQs items properties
===============================================================================
*/
.item{
    margin: 1rem 0;
}

.itemLabel{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    font-size: 1rem;
    text-justify: center;
}

.itemLabel b{
    text-justify: center;
}

.itemContent p{
    color: var(--Purple600)
}

.sep{
    border-bottom: 0.1rem solid  var(--Purple100);
}