:local(.inputForm){
    --PrimaryRed: hsl(0, 100%, 74%) ;
    --PrimaryGreen: hsl(154, 59%, 51%);
    --SecondaryGreen: hsl(152, 48%, 40%);

    --AccentPurple: hsl(248, 32%, 49%);

    --NeutralGray: hsl(249, 10%, 26%) ;
    --NeutralGrayrgb:64, 62, 74;
    --NeutralPurple: hsl(246, 25%, 77%);

    --shadow: rgba(var(--NeutralGrayrgb), 0.2);
}

/*@font-face {
    font-family: 'Poppins';
    src: 
        url('./fonts/Poppins-Black.ttf'),
        url('./fonts/Poppins-BlackItalic.ttf'),
        url('./fonts/Poppins-Bold.ttf'),
        url('./fonts/Poppins-BoldItalic.ttf'),
        url('./fonts/Poppins-ExtraBold.ttf'),
        url('./fonts/Poppins-ExtraBoldItalic.ttf'),
        url('./fonts/Poppins-ExtraLight.ttf'),
        url('./fonts/Poppins-ExtraLightItalic.ttf'),
        url('./fonts/Poppins-Italic.ttf'),
        url('./fonts/Poppins-Light.ttf'),
        url('./fonts/Poppins-LightItalic.ttf'),
        url('./fonts/Poppins-Medium.ttf'),
        url('./fonts/Poppins-MediumItalic.ttf'),
        url('./fonts/Poppins-Regular.ttf'),
        url('./fonts/Poppins-SemiBold.ttf'),
        url('./fonts/Poppins-SemiBoldItalic.ttf'),
        url('./fonts/Poppins-Thin.ttf'),
        url('./fonts/Poppins-ThinItalic.ttf')
        ;
}*/

.inputForm{
    display: grid;
    /*style*/
    background-image: url("./images/bg-intro-desktop.png");
    background-color: var(--PrimaryRed);
    font-family: 'Poppins';
    color: white;
    padding: 2rem;
    
}

.content{
    align-self: center;
    /*layout for the content*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: auto;
}

.content div{
    max-width: 30rem;
}

.inputForm h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.inputForm p{
    font-size: 1rem;
    font-weight: 400;
}

.content div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    border: red 0.5reinputFormm solid;
}

.header{
    display: flex;
    gap: 2rem;
    text-align: left;
}

.island{
    background-color: var(--AccentPurple);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem  0 var(--shadow);
    text-align: center;
}

.window{
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem  0 var(--shadow);
    color: var(--NeutralGray);
}

.window form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form{
    gap: 1rem
}

/*
===============================================================================
INPUT FIELD
===============================================================================
*/

.inputField[type=text]{
    padding: 1rem;
    border-radius: 0.5rem;
    width: auto;
    border: 1px solid var(--NeutralPurple);
    font-weight: 600;
}

.inputField[type=text]:focus{
    border-color: var(--AccentPurple);
}

.inputField[type=text]::placeholder{
    font-weight: 600;
}

.inputField[type=submit]{
    background-color: var(--PrimaryGreen);
    color: white;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 0;
    box-shadow: 0 0.25rem  0 var(--SecondaryGreen);
    transition: all 0.5s linear;
}

.inputField[type=submit]:hover{
    transform: translateY(0.25rem);
    box-shadow: 0 0rem  0 var(--SecondaryGreen);
}

/*
===============================================================================
DISCLAIMER
===============================================================================
*/
.disclaimer{
    font-size: 0.5rem;
    text-align: center;
    font-weight: 500;
    color: var(--NeutralPurple)
}

.disclaimer b{
    color: var(--PrimaryRed);
}

