:local(.inputForm){
    --PrimaryRed: hsl(0, 100%, 74%) ;
    --PrimaryGreen: hsl(154, 59%, 51%);
    --SecondaryGreen: hsl(152, 48%, 40%);

    --AccentPurple: hsl(248, 32%, 49%);

    --NeutralGray: hsl(249, 10%, 26%) ;
    --NeutralGrayrgb:64, 62, 74;
    --NeutralPurple: hsl(246, 25%, 77%);

    --shadow: rgba(var(--NeutralGrayrgb), 0.2);
}

.inputForm{
    display: grid;
    /*style*/
    background-image: url("./images/bg-intro-desktop.png");
    background-color: var(--PrimaryRed);
    font-family: 'Poppins';
    color: white;
    padding: 2rem;

    min-height: 100vh;
    
}

.content{
    align-self: center;
    /*layout for the content*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin: auto;
}

@media (max-width: 37rem){
    .inputForm{
        padding: 1rem;
    }

    .content{
        grid-template-columns: 1fr;
    }
}

.content div{
    max-width: 30rem;
}

.inputForm h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.inputForm p{
    font-size: 1rem;
    font-weight: 400;
}

.content div{
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    border: red 0.5reinputFormm solid;
}

.header{
    display: flex;
    gap: 2rem;
    text-align: left;
}

@media (max-width: 37rem){
    .header{
        text-align: center;
    }
}

/*
===============================================================================
ISLAND
===============================================================================
*/

.island{
    background-color: var(--AccentPurple);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem  0 var(--shadow);
    text-align: center;transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.island:hover{
    transform: translateY(0.25rem);
    box-shadow: 0 0rem  0 var(--shadow);
}


/*
===============================================================================
WINDOW
===============================================================================
*/

.window{
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem  0 var(--shadow);
    color: var(--NeutralGray);
}

@media (max-width: 37rem){
    .window{
        padding: 1.5rem;
    }
}

.window form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.form{
    gap: 1rem
}

/*
===============================================================================
INPUT FIELD
===============================================================================
*/

/*text input*/
.inputField{
    padding: 1rem;
    border-radius: 0.5rem;
    width: auto;
    border: 1px solid var(--NeutralPurple);
    font-weight: 600;
}

.inputField:focus{
    border-color: var(--AccentPurple);
}


.inputField.error{
    border-color: var(--PrimaryRed);
    color: var(--PrimaryRed);
    background-image: url("./images/icon-error.svg");
    background-position: right 5% center;
    background-repeat: no-repeat;
}

.inputField.error:focus{
    border-color: var(--PrimaryRed);
    color: var(--PrimaryRed);
}

.inputField::placeholder{
    font-weight: 600;
}

.errorMessage{
    color: var(--PrimaryRed);
    text-align: right;
    font-size: 0.7rem;
}

/*submit field*/
.inputField[type=submit]{
    background-color: var(--PrimaryGreen);
    color: white;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem;
    border-width: 0;
    box-shadow: 0 0.25rem  0 var(--SecondaryGreen);
    transition: all 0.5s linear;
}

.inputField[type=submit]:hover{
    transform: translateY(0.25rem);
    box-shadow: 0 0rem  0 var(--SecondaryGreen);
}

/*
===============================================================================
DISCLAIMER
===============================================================================
*/
.disclaimer{
    font-size: 0.5rem;
    text-align: center;
    font-weight: 500;
    color: var(--NeutralPurple)
}

.disclaimer b{
    color: var(--PrimaryRed);
}

